<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add project</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <form method="POST" action="add_project">
        {{ form.hidden_tag() }}
        <table class="add-project">
            <tr>
                <th>{{ form.user.label }}</th>
                <td>{{ form.user() }}</td>
            </tr>
            <tr>
                <th>{{ form.project_name.label }}</th>
                <td>{{ form.project_name() }}</td>
            </tr>
            <tr>
                <th>{{ form.work.label }}</th>
                <td>{{ form.work() }}</td>
            </tr>
            <tr>
                <th>{{ form.title.label }}</th>
                <td>{{ form.title() }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>
                    <select name="month" id="">
                    {% for key,value in month_data.items() %}
                    <option value="{{ key }}">{{value}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>{{ form.hours.label }}</th>
                <td>{{ form.hours() }}</td>
            </tr>

            <tr>
                <th>{{ form.submit() }}</th>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
</body>
</html>