body{ font-family: Arial, Helvetica; margin: 0; padding: 0; background: #fff; }
body table{
    width: 100%;

}

body table tr{

}
body table tr th{
    padding:10px;
    width: 20%;
}

body table tr td{
    padding:10px;
    width: 20%;
}